<div class="container-new">
  <h2 class="text-center text-dark p-2">編輯記帳</h2>
  <form action="/records/{{ Records._id }}" method="post">
    <div class="row justify-content-center">
      <!-- new list -->
      <div class="col-4">
        <div class="input-group input-group-lg-name m-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">名稱</span>
          </div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="name"
            value="{{ Records.name }}">
        </div>

        <div class="input-group input-group-lg-category m-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="exampleSelect1">排序</span>
          </div>
          <select class="form-control" id="exampleSelect1" style="cursor: pointer" name="category" required>
            <option value="" disabled selected>種類</option>
            {{#switch Records.category}}
            <option value="家居物業" {{#case '家居物業'}} selected {{/case}}>家居物業</option>
            <option value="交通出行" {{#case '交通出行'}} selected {{/case}}>交通出行</option>
            <option value="休閒娛樂" {{#case '休閒娛樂'}} selected {{/case}}>休閒娛樂</option>
            <option value="餐飲食品" {{#case '餐飲食品'}} selected {{/case}}>餐飲食品</option>
            <option value="其他" {{#case '其他'}} selected {{/case}}>其他</option>
            {{/switch}}
          </select>
        </div>

        <div class="input-group input-group-lg-category m-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">時間</span>
          </div>
          <input type="date" id="start" name="date" value="{{ Records.date }}" min="2020-01-01" max="2030-12-31">
        </div>

        <div class="input-group input-group-lg-amount m-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">金額</span>
          </div>
          <input type="number" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
            name="amount" value="{{ Records.amount }}">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-secondary btn-lg m-3">修改支出</button>
    </div>
  </form>
</div>